$title-font: "Special Elite", cursive;
$title-font-size: 128px;
$title-text-color: #4cecec;

$subtitle-font: "Roboto", sans-serif;
$subtitle-font-size: 32px;
$subtitle-font-weight: 100;
$subtitle-font-color: rgba(255, 255, 255, 0.9);

$text-shadow: 1px 1px 1px #000;
